fastapi
jinja2
pandas
geopandas
rasterio
numpy
scikit-learn
# tensorflow-cpu  # Removed to avoid conflicts with torch
psycopg2-binary
python-dotenv
uvicorn
gunicorn
dvc
earthaccess
xarray
cfgrib
neuralhydrology
rioxarray
google-generativeai
torch==2.4.0
absl-py>=2.0.0
protobuf>=4.25.0
tensorboard>=2.15.0
numpy<2.0.0
